@import "nib"
@import "normalize.styl"
@import "icons.styl"
@import "tables.styl"


$naranja = #eeae11
$lima =  rgb(244, 255, 228)
$verde = #99CC66
$rojo = #EE4035
cafe = #695C3E

body
	
	font 14px Times New Roman, Arial, Helvetica, sans-serif
	line-height 25px
	color cafe
p 
	margin 0 0 25px;
a 
	color $verde
	text-decoration none
	/*&:hover
		text-decoration underline*/	
	
h1 
	margin-top 0
	margin-bottom 10px
	line-height 1.5em

h2 
	margin-top 0
	margin-bottom 10px
	line-height 1.5em
ul 
	padding: 0 0 0 20px

.li-check
	list-style none 
	li 
		background url("../img/list_arrow.png") left center no-repeat
		padding-left 30px
		a 
			&:hover
				text-decoration underline
.li-img
	list-style none 
	li 
		//background url("../img/list_arrow.png") left center no-repeat
		//padding-left 30px
		margin-bottom 1em
		a 
			&:hover
				text-decoration underline
.col2
.col3
	display inline-block
	vertical-align top 
.col2
	width 265px		
.col3
	width 385px
input[type="text"],
input[type="email"]
	background-color #fff
	background-image:linear-gradient(#eee 1%, #fff 15%) !important
	border 1px solid #AAA
	box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1)
	height 20px

.chosen-single
	border-radius 0 !important
	background-color #fff !important
	background-image linear-gradient(#eee 1%, #fff 15%) !important

li.highlighted
	background-image none !important
	background-color $verde !important
.hidden
	display none	
.img 
	border 1px solid #DBDBDB
	border-radius 5px
	padding .2em 
	box-sizing border-box

.btn
	box-shadow none
	text-decoration none
	display inline-block
	padding 16px 17px 15px 18px
	font 16px 'Tinos'
	color #ffffff
	background #f5c34c
	border none
	letter-spacing 0
	text-transform uppercase
	text-shadow none
	text-decoration none !important
	border-radius 0
	border-bottom 1px solid #f5c34c
	transition all 0.35s ease
	cursor pointer
	
	&:hover
		background none
		color #FFF
		background $naranja
		transition all 0.35s ease
	

.btn-primary
	background #FFF
	color $verde

	&:hover
		background none
		color #FFF
		background $naranja
		transition all 0.35s ease

.btn-success
.btn-info
	background $verde !important
	color #fff

	&:hover
		background none
		color $verde
		background $lima
		transition all 0.35s ease

.btn-verde2
	background $verde
	color #fff
	border-bottom 1px solid #5f9414
.btn-verde
	background #619e33
	color #fff
	border-bottom 1px solid #5f9414

.btn-amarillo
	background #f5c34c
	color #fff
	border-bottom 1px solid #f5c34c
.btn-rojo
	background $rojo
	color #fff
	border-bottom 1px solid #EE4031

.btn-cafe
	background #887e65
	color #fff
	border-bottom 1px solid #686a3c
.btn-gris
	background #acd2a4
	color #fff
	border-bottom 1px solid #94b885
	
.border-colors
	width 100%
	height 8px
	position absolute
	background: url(../img/circulos.png) repeat-x;

header
	padding 0
	position relative
	background-color $verde
	
	.border-colors
		bottom 0
	.up-box
		padding-bottom 25px
		padding-top 15px
		position relative
		
	.down-box
		background-color #ffffff
		padding-top 28px
		padding-bottom 15px
	.tel
		font 14px 'Tinos'
		color #ffffff
		text-transform uppercase
		margin 0
		float left
		& > span
			width 62px
			display inline-block
			color #ffffff
	.login, .advisor
		float right
		//margin-top -20px
		margin-bottom 0
	.icon-redes
		color #FFF
		float right
		display inline-block
		font-size 18px
		vertical-align top
		//margin-top -16px
		padding 0 0.3em
		transition all 0.35s ease
		
		&:hover
			color cafe
		
	#logo 
		display block
		padding 0
		float left
		font-size 40px
		position relative
		
		a 
			position absolute
			top -20px
			left -90px
	#menu
		float right
		height 35px
		
		.parent
			.nav-child
			.sub-menu
				.parent
					&:after
						content '°'
						position absolute
						right -10px
						top 15px

			

			/*.parent
			&:after
				background red 
				content '°'*/
		
		ul 
			position relative
			left 0
			display block
			float left
			margin 0
			padding 0

			li 
				position relative
				display inline-block
				margin 0
				padding 0
				float left
				margin-left 10px
				zoom: 1
				padding 1px 10px 0 0
				line-height 11px !important
				border-right 1px solid #dbdbdb

				&.item-143
					.nav-child
						display none !important
					&:after
						content '' !important

				.nav-header
				a
					position relative
					padding 0
					border-radius 0
					margin 0
					color #4a4a4a
					box-shadow none !important
					font 15px/15px 'Tinos', Times New Roman, Arial, Helvetica, sans-serif
					text-shadow none
					display inline-block
					background none
					text-transform uppercase
					transition all 0.35s ease
					cursor pointer

				&:first-child + li + li + li + li + li + li + li
					margin-right 0
					padding-right 0
					border-right none
				&:hover 
					.nav-header
					a
						color $verde
				/*&:hover .sub-menu
					display block*/

				.nav-child
				.sub-menu 
					position absolute
					display none
					width 182px
					left -22px
					top 43px
					padding 21px 20px 29px 20px
					list-style none !important
					zoom: 1
					z-index 102
					background #ffffff
					margin 0
					border-top 4px solid #f5c34c
					box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
					
					.nav-child
					.sub-menu
						left 205px
						top 0px
						


					li 
						background none
						float none
						margin 0
						padding 0
						border none
						width 100%
						text-align left
						border-bottom 1px solid #ebebeb
						height auto !important
						overflow visible !important

						.nav-header
						a 
							display block
							padding 0
							margin 0
							font 15px/15px 'Tinos', Times New Roman, Arial, Helvetica, sans-serif
							color #4a4a4a
							display inline-block
							background none
							text-transform uppercase
							padding 8px 0 7px 0
							transition: all 0.35s ease
							&:hover 
								color $verde
						/*&:hover 
							display block*/
			.active
				a 
					color $verde
			

.btn-budget 
	position absolute
	top 50px
	right 0
	z-index 760
	display block
	padding 15px 0 15px 20px
	width 125px
	background none repeat scroll 0 0 #f5c34c
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.47)
	color #FFF
	text-transform uppercase
	//text-shadow 0 -1px 2px rgba(144, 15, 60, 0.76)
	font-weight 700
	&:hover
		background $naranja
		text-decoration none
	.icon-book
		font-size 1.5em
		padding-right .5em
		vertical-align  middle
		color verde
.cotizador
	//display none
	line-height 20px
	position absolute
	z-index 101
	right 0px
	top -460px
	background #FFF
	padding 1em
	border-top 4px solid #f5c34c
	width 300px
	margin-bottom 1em
	box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
	text-align center
	transition all .2s ease

	&.open
		top 58px
	.close
		position absolute
		right 15px
		top 10px
		cursor pointer
		
	#persons
	#children
		width 50px	

	.service
		display inline-block
		vertical-align top
		width 97px
		margin .2em 0

		input
			width 40px
	.notas
		margin-top 1em
		margin-bottom 1em
		p
			margin 2px 0
	
	

	li.highlighted
		background-image none !important
		background-color $verde !important
	
	.chosen-container
		width 230px !important
	
	input[type="radio"]
		display none

	p 
		margin-top 0
		margin-bottom 15px


.forms-reservations
	
	position absolute
	top 140px
	left -194px
	background #FFF
	z-index 200
	padding .5em
	border-top 4px solid #f5c34c
	box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
	width 180px
	transition all .5s ease
	line-height 20px


	&.green
		border-top 4px solid $verde
		.handle
			border-left 35px solid $verde
		.btn 
			background $verde
			border-bottom 1px solid $verde
		.form-type
			border-bottom 1px solid $verde
			color $verde
			
	&.red
		border-top 4px solid $rojo
		.handle
			border-left 35px solid $rojo
		.btn 
			background $rojo
			border-bottom 1px solid $rojo

		.form-type
			border-bottom 1px solid $rojo
			color $rojo
			
	&.yellow
		border-top 4px solid #f5c34c
		.handle
			border-left 35px solid #f5c34c
		.btn 
			background #f5c34c
			border-bottom 1px solid #f5c34c

		.form-type
			border-bottom 1px solid #f5c34c
			color $naranja
			
	
	&.open
		left 0

		/*.handle
			&:after
				content '\f100'*/
			

	/*&.close
		left -180px*/
		
	
	.handle
		border-right 10px solid rgba(0, 0, 0, 0)
		border-left 35px solid #f5c34c
		border-bottom 100px solid rgba(0, 0, 0, 0)
		border-top 100px solid rgba(0, 0, 0, 0)
		right -45px
		top 30%
		position absolute
		cursor pointer

		span 
			position absolute
			transform rotate(270deg)
			display block
			width 90px
			right -23px
			top -18px
			color #FFF
			text-transform uppercase
			font-weight bold
			font-size 13px
			text-shadow 1px 1px 1px rgba(0, 0, 0, .75)
		/*&:after
			font-family: 'guanacasteviajes';
			content '\f101'
			position absolute
			font-size 2em
			color #FFF
			right 15px
			top -15px*/
			
			
			

	.mCSB_dragger_bar
		background $verde !important
		
	h2 
		font-size 1.3em
		margin 0
	
	#btn_book
		float left

	.total-container
		background cafe
		padding .44em
		color #FFF
		font-size 1em
		float right
		width 60px
		
		span
			display block

	input[type="text"],
	input[type="email"]
		width 93%

		&.error
			border-color $rojo


	.notas
		margin-top 1em
		margin-bottom 1em
		p
			margin 2px 0

		
	.personal-info
	.reservation-info
		display inline-block
		vertical-align top
		//width 270px
	p 
		text-align left
		margin-top 0
		margin-bottom 15px
	label
		text-align left
		margin-right 5px
		//width 75px
		display inline-block
		float left
		&.error
			float: right;
			position: absolute;
			color: $rojo
			

	label[for="transport-persons"],
	label[for="transport-children"],
	label[for="tour-persons"],
	label[for="tour-children"],
	label[for="hotel-persons"],
	label[for="hotel-children"]
		width 46px
	label[for="childrenR"]
		margin-left 5px
	#transport-persons,
	#transport-children,
	#tour-persons,
	#tour-children,
	#hotel-persons,
	#hotel-children
		width 25px
	
	.chosen-container
		width 170px !important 

	.no-float
		float none !important
	.botones
		margin-top 10px
		text-align center
	.form-type
		position absolute
		right 0 
		top 11px 
		border none
		font-size 1.1em
		background rgba(0, 0, 0, 0)
		font-family Time new roman
		outline: 0;
		border-bottom 1px solid #f5c34c
		color $naranja
		font-weight bold
		text-align right
		cursor pointer
		
			
	
.top-info	
	background $verde
.main 
	position relative


.page-tourDetails
	float right
	//background $verde
	padding .5em
	width 280px
	margin-left 10px
	//color #FFF
	position relative 
	z-index 2
	.details 
		margin 0
		list-style none
		dt 
			display block
			text-align center
			cursor pointer
			&:hover
				background #c3c3c3
				border-color #c3c3c3
		dd 
			margin 0
			padding 1em 0.5em
			background #FFF

		a 
			color cafe
			text-decoration underline
			&:hover
				color $verde
	strong
		color cafe
.rooms

	.details 
		margin 0
		list-style none
		dt 
			display block
			text-align center
			cursor pointer
			&:hover
				background #c3c3c3
				border-color #c3c3c3
		dd 
			margin 0
			padding 1em 0.5em
			background #FFF

		a 
			color cafe
			text-decoration underline
			&:hover
				color $verde
.btn-book 
	text-align center
	display block
	background #EE4035
	border-bottom 1px solid #EE4031
	color #FFF 
	&:hover
		background #EE4035

.gallery-item
	display inline-block
	vertical-align top 
	width 200px
	height 155px
	margin-bottom 10px
	margin-right 5px
	
	img 
		width 100%
		height 100%

	iframe 
		width 100%
		height 100%
.item-page
	&.page-hotels
		margin-top -34px
		.pull-left
			position static
			width 100%
		.item-image
			img 
				width 100%
				height auto
.page-hotels
	//margin-top 75px
	.item 
		height: 160px;
		max-height: 200px;
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;

		background-color: #FAFAFA;
		border: 1px solid #E2E2E2;
		border-radius: 2px;
		padding: 20px;

	.pull-left
		position absolute
		top 0
		left 0
		width 200px
		overflow hidden
	.hotel-intro
		width 550px
		position absolute
		top 0
		left 200px
		p 
			padding-left: 20px;
	.hotel-introTop
		margin-top: 1px;
		margin-right: 1px;
		border-top: 1px solid #FFF;
		border-bottom: 1px solid #E2E2E2;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px

		.stars
		.location
			display inline-block
			vertical-align top
		.stars
			.icon-star
			.icon-star2
				font-size 1em
				padding 2px
		
			.icon-star2
			.icon-star1-5
				color $rojo
		.location
			margin-left: 5px;

			span
				font-weight bold
				color $naranja
			
	.item-image
		img 
			height 200px
	
	.hotel-rate_availability
		width 185px
		width 185px
		position absolute
		top 0
		right 0
		height 200px
		border-left: 1px solid #E2E2E2;
		text-align center
		padding 20px 0
	.btn-rates-availability
		font-size .85em

	.rates-title
		padding 5px
	.rates-price
		padding 5px 
		font-size 3.2em
		font-weight bold
	.rates-options
		padding 5px 

	.readmore
		position: absolute;
		bottom: 0;
	.hotel-title
		font-weight bold
		font-size 1.3em
	.subheading-category
		font-size 1.5em
.page-aboutDestinations
	list-style none
	margin 0 
	padding 0
	width 685px 

	li 
		margin 1em
		border 4px solid #f5c34c
		padding .5em 

.fleet-item
	display inline-block
	vertical-align top 
	width 300px
	position relative
	margin-right .5em
	&:last-child
		margin-right 0
	strong
		color cafe
.fleet-title
	background $verde
	color #FFF
	padding 0 .5em
.fleet-image
	//position absolute
	img 
		width 100%
		max-height 170px
.fleet-description
	position relative
	background #f5c34c//rgba(149,202, 96,1)
	left 0
	right 0
	bottom 8px
	padding .5em

.fleet-features
	margin 0
	color #FFF	

.shuttle-column
	display inline-block
	vertical-align top 
	margin-right 4em 
	//width 300px
	&:last-child
		margin-right 0

.shuttle-notes
	list-style none
	font-size 13px

.inner
	margin-right auto
	margin-left auto
	width 940px
	display table
	//position relative
.blog
.item-page
	padding 3em 0
	min-height 600px

	/*&.page-tour
		min-height 800px*/

#slider
	
	.cycle-slideshow
		width 100%
		//height 570px

		img
			width 100% 
			height auto

.row
	//margin-left -30px
	display table
.info-main
	width 300px
	position relative
	display inline-block
	vertical-align top
	margin-right 10px
	padding-bottom 35px

	&:ntd-child(3)
		margin-right 0

	h2 
		color #ffffff
		font 66px 'Tinos', Times New Roman, Arial, Helvetica, sans-serif
		margin 0
		margin-bottom -21px
		margin-top 45px
		text-transform uppercase
		letter-spacing -3px

		span 
			line-height 36px
			position relative
			font-size 36px
			top -36px
	p 
		margin-bottom 32px
		color #ffffff
	


.services-box
	padding-top 0
	background-color #ffffff

	.service
		width 300px
		position relative
		display inline-block
		vertical-align top
		margin-right 10px
		padding-bottom 73px
		
		&:ntd-child(3)
			margin-right 0
		h2 
			
			font 55px 'Tinos', Times New Roman, Arial, Helvetica, sans-serif
			margin 0
			margin-bottom -21px
			margin-top 45px
			text-transform uppercase
			letter-spacing -3px

			span 
				line-height 30px
				position relative
				font-size 30px
				top -30px
		h3
			color $verde
			font 24px/25px Times New Roman, Arial, Helvetica, sans-serif
			margin 0
			margin-bottom 25px
		ul 
			margin 0
			padding 0
			list-style none
			margin-top 18px
			margin-bottom 71px

			li 
				font-size 14px
				line-height 20px
				background url(../img/list_arrow.png) left center no-repeat
				padding-left 30px
				margin-bottom 20px

				a 
					color cafe 
					
					&:hover
						text-decoration underline
		
.tabs
	position relative
	top -60px
	ul
		float right
		position absolute
		right 20px
		top 0

		li 
			//overflow auto
			background #CCC
			cursor pointer
			float left
			//height 42px
			list-style none
			margin 0px -3px
			padding 5px 15px 0 15px
			position relative
			box-shadow 2px 0px 1px rgba(0, 0, 0, .75)
			border-radius 5px 5px 0 0
			transition all .2s ease
			top 0


			&.active
				z-index 6 !important
				top -5px
				padding 5px 15px 
				
		
		
				

			span 
				color #fff
				display block
				text-align center
				//width 42px

			.icon-home, .icon-file, .icon-book, .icon-coin, .icon-map, .icon-users
				color rgba(255, 255, 255, 0.6)
				font-size 1.3em
				//padding-bottom 5px
				//padding-top 2px
		#intro 
			background-color #619e33
			z-index 5 
				

		#amenities
			background-color $naranja
			z-index 4
		#things
			background-color cafe
			z-index 3  
		#rooms
			background-color $verde
			z-index 2 
		
		#booknow
			background-color $rojo
			z-index 1


/*.amenities,
.things,
.booknow,
.rooms, 					
	display none*/
.rates
.right-info 
	width 320px
	float right
	margin-left: 1.5em;

.table-rates
	//border-radius 10px
	box-shadow 1px 1px 2px rgba(0, 0, 0, .75)
	margin-bottom 0
.table-title
	background $verde !important
	color #FFF	
.li-rooms
	display inline-block
	vertical-align top 
	width 300px
.a-img
	width 90px
	height 90px 
	display inline-block
	vertical-align middle
	margin-right .5em
.rounded
	border-radius 15px
footer
	background $verde
	padding-bottom 20px
	position relative
	padding-top 30px
	em 
		position absolute
		top 0
		left 0
		right 0
		height 8px
		background url(../img/circulos.png) 0 top repeat-x
	p
		margin 0
		font 14px Times New Roman, Arial, Helvetica, sans-serif
		line-height 20px
		color #ffffff
		text-transform uppercase

	.copyright
		float left
	.redes
		float right
		color #ffffff

		a 
			text-transform uppercase
			color #ffffff
			&:hover 
				color #695c3e
				transition all 0.35s ease
	.phone-numbers
		margin-left: 120px;
		text-align: center;
		float: left;
.relative
	position relative
.b2jcontainer
	border none !important
	background none !important
	margin-top 1.5em !important

	h2 
		background none !important
		color cafe
		font-size 2em
		font-family "Times New Roman", Arial, Helvetica, sans-serif
		font-weight bold
		margin-bottom 10px !important
.tripAdvisor-widget
	float right
	position relative
	right 0
	top -220px


	.widSSPnarrow
		width 256px !important
.page-testimonialsTripAdvisor
	.widSSP
		width 465px !important

.TA_selfserveprop
.TA_ssnarrowcollectreview
	display inline-block
	vertical-align top 

//gallery

.tours-gallery
	//height: 100%;
	width: 100%;
	min-height: 500px;
	min-width: 900px;
	padding-top: 1px;
	position absolute
	left 0
	right 0
 
#slider-gallery
	margin: 10px 0 0 0;
	height: 500px;
	overflow: hidden;
	background: url(../img/ajax-loader.gif) center center no-repeat;

 
	.slide 
		position: relative;
		display: none;
		height: 500px;
		float: left;
		background-position: center right;
		//background-repeat no-repeat
		//background-size: 100%,100%
		cursor: pointer;
		border-left: 1px solid #fff;

 
		&:first-child 
			border: none;
	
 
		&.active 
			cursor: default;

 
	.slide-block
		position: absolute;
		left: 40px;
		bottom: 75px;
		display: inline-block;
		width: 435px;
		background-color: #fff;
		background-color: rgba(255,255,255, 0.8);	
		padding: 20px;
		font-size: 14px;
		color: #134B94;
		border: 1px solid #fff;
		overflow: hidden;
		border-radius: 4px;

 
		h4 
			font-size: 36px;
			font-weight: bold;
			margin: 0 0 10px 0;
			line-height: 1;

		p
			margin: 0;

.pagination 
	text-align center
	li 
		display inline-block
		vertical-align top 

		a 
			display block
			padding .5em
			font-size 2em
			&:hover 
				color $naranja
		&.disabled
			a 
				color #E2E2E2 
		&.active
			a 
				color $naranja

.hidden 
	display none
.table 
	p 
		margin 0
@import "responsive.styl"
@import "mCustomScrollbar.styl"	


				