##
# @package    Joomla
# @copyright  Copyright (C) 2005 - 2014 Open Source Matters. All rights reserved.
# @license    GNU General Public License version 2 or later; see LICENSE.txt
##

##
# READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE!
#
# The line just below this section: 'Options +FollowSymLinks' may cause problems
# with some server configurations.  It is required for use of mod_rewrite, but may already
# be set by your server administrator in a way that dissallows changing it in
# your .htaccess file.  If using it causes your server to error out, comment it out (add # to
# beginning of line), reload your site in your browser and test your sef url's.  If they work,
# it has been set by your server administrator and you do not need it set here.
##

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

## Mod_rewrite in use.

RewriteEngine On

## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# This attempts to block the most common type of exploit `attempts` to Joomla!
#
# Block out any script trying to base64_encode data within the URL.
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root homepage
RewriteRule .* index.php [F]
#
## End - Rewrite rules to block out some common exploits.

## Begin - Custom redirects
#
# If you need to redirect some pages, or set a canonical non-www to
# www redirect (or vice versa), place that code here. Ensure those
# redirects use the correct RewriteRule syntax and the [R=301,L] flags.
#
## End - Custom redirects

##
# Uncomment following line if your webserver's URL
# is not directly related to physical file paths.
# Update Your Joomla! Directory (just / for root).
##

# RewriteBase /

## Begin - Joomla! core SEF Section.
#
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
# If the requested path and file is not /index.php and the request
# has not already been internally rewritten to the index.php script
RewriteCond %{REQUEST_URI} !^/index\.php
# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d
# internally rewrite the request to the index.php script
RewriteRule .* index.php [L]
#
## End - Joomla! core SEF Section.

#Redirect old site

Redirect 301 /About.html http://www.airporttransfercostarica.com/about-us.html
Redirect 301 /Ground_Transportation.html http://www.airporttransfercostarica.com/fleet.html
Redirect 301 /Testimonials-next.html http://www.airporttransfercostarica.com/testimonials.html
Redirect 301 /Contact_us.html http://www.airporttransfercostarica.com/contact-us.html

#transport

Redirect 301 /Transport.html http://airporttransfercostarica.com/transportation/airport-transfer.html
Redirect 301 /Shuttle_Service.html http://airporttransfercostarica.com/transportation/airport-shuttle.html
Redirect 301 /Carrentals.html http://airporttransfercostarica.com/transportation/car-rentals.html
Redirect 301 /Arrivals-Departures.html http://airporttransfercostarica.com/transportation/airport-arrivals.html


#tour

Redirect 301 /Day-Tours/Mega_combo.html http://airporttransfercostarica.com/tours/combo-tours-at/buena-vista.html
Redirect 301 /Day-Tours/Combo_canopy-Borinquen.html http://airporttransfercostarica.com/tours/combo-tours-at/borinquen.html
Redirect 301 /Day-Tours/Hacienda-guachipelin.html http://airporttransfercostarica.com/tours/combo-tours-at/guachipelin.html
Redirect 301 /Day-Tours/The_Canyon_Adventure_Tour.html http://airporttransfercostarica.com/tours/combo-tours-at/canyon-tours.html

Redirect 301 /Day-Tours/Tenorio-rafting.html http://airporttransfercostarica.com/tours/rafting-tours/tenorio-iii-iv.html
Redirect 301 /Day-Tours/The_Canyon_Adventure_Tour.html http://airporttransfercostarica.com/tours/combo-tours-at/canyon-tours.html
Redirect 301 /Day-Tours/White_Water_Rafting.html http://airporttransfercostarica.com/tours/rafting-tours/corobici-i-ii.html

Redirect 301 /Day-Tours/Arenal-Sky-tram.html http://airporttransfercostarica.com/tours/sky-adventure-tour/arenal-sky-adventure.html
Redirect 301 /Day-Tours/Monteverde.html http://airporttransfercostarica.com/tours/sky-adventure-tour/monteverde-sky-adventure.html

Redirect 301 /Day-Tours/Rincon_Hiking.html http://airporttransfercostarica.com/tours/nature-walking/rinco-de-la-vieja.html
Redirect 301 /Day-Tours/Rio-Celeste.html http://airporttransfercostarica.com/tours/nature-walking/rio-celeste.html
Redirect 301 /Day-Tours/Arenal-Hanging-Bridges.html http://airporttransfercostarica.com/tours/nature-walking/arenal-hanging-bridge.html


Redirect 301 /Day-Tours/Canopy.html http://airporttransfercostarica.com/tours/zip-line-tours/congo-trail.html
Redirect 301 /Day-Tours/witchs-rock-canopy.html http://airporttransfercostarica.com/tours/zip-line-tours/witchs-rock-canopy.html


Redirect 301 /Day-Tours/Arenal_Volcano.html http://airporttransfercostarica.com/tours/cultural-tours/arenal-volcano-rain-forest.html
Redirect 301 /Day-Tours/Palo-Verde-tour.html http://airporttransfercostarica.com/tours/cultural-tours/palo-verde-boat-tour.html
Redirect 301 /Day-Tours/Monteverde_Selvatura.html http://airporttransfercostarica.com/tours/cultural-tours/monteverde-green-adventure.html

Redirect 301 /Surfing.html http://airporttransfercostarica.com/tours/surfing.html
Redirect 301 /Trips.html http://airporttransfercostarica.com/tours/day-trips.html

#hotels

Redirect 301 /Hotels.html#allinclusive http://airporttransfercostarica.com/hotels/all-inclusive.html
Redirect 301 /Papagayo-Hotel.html http://airporttransfercostarica.com/hotels/papagayo-hotels.html


Redirect 301 /Papagayo_hotels-transportation/Hilton.html http://airporttransfercostarica.com/hotels/papagayo-hotels/hilton-papagayo-resort.html
Redirect 301 /RIU_Guanacaste.html http://airporttransfercostarica.com/hotels/papagayo-hotels/riu-guanacaste-hotel.html
Redirect 301 /RIU_Palace_Costa_Rica.html http://airporttransfercostarica.com/hotels/papagayo-hotels/riu-palace-costa-rica-hotel.html
Redirect 301 /Flamingo-Conchal-hotels/Westin-Conchal.html http://airporttransfercostarica.com/hotels/all-inclusive/westin-playa-conchal-resort.html

Redirect 301 /Papagayo_hotels-transportation/Villas-Sol.html http://airporttransfercostarica.com/hotels/papagayo-hotels/villas-sol-hotel-and-beach-resort.html
Redirect 301 /Papagayo_hotels-transportation/Allegro-Papagayo-hotel.html  http://airporttransfercostarica.com/hotels/papagayo-hotels/allegro-papagayo-resort.html
Redirect 301 /Papagayo_hotels-transportation/Occidental-Grand-Papagayo.html http://airporttransfercostarica.com/hotels/papagayo-hotels/occidental-grand-papagayo-resort.html

Redirect 301 /Tamarindo-Hotels/Barcelo_Langosta.html http://airporttransfercostarica.com/hotels/tamarindo-hotels/barcel%C3%B3-langosta-hotel.html

Redirect 301 /Papagayo_hotels-transportation/Condovac_La_Costa.html http://airporttransfercostarica.com/hotels/papagayo-hotels/condovac-la-costa-hotel.html

Redirect 301 /Papagayo_hotels-transportation/Casa_Conde.html http://airporttransfercostarica.com/hotels/papagayo-hotels/casa-conde-del-mar.html


Redirect 301 /Ocotal-Resort.html http://airporttransfercostarica.com/hotels/papagayo-hotels/ocotal-beach-resort.html

Redirect 301 /Flamingo-Conchal-hotels/Flamingo_beach_Resort.html http://airporttransfercostarica.com/hotels/all-inclusive/flamingo-beach-resort.html
Redirect 301 /Tamarindo-Hotels/CalaLuna.html http://airporttransfercostarica.com/hotels/tamarindo-hotels/hotel-villas-cala-luna.html
Redirect 301 /Tamarindo-Hotels/JW-Marriott-Hotel.html http://airporttransfercostarica.com/hotels/tamarindo-hotels/jw-marriott-guanacaste-resort-and-spa.html
Redirect 301 /Tamarindo-Hotels/Tamarindo-Diria.html http://airporttransfercostarica.com/hotels/tamarindo-hotels/tamarindo-diria-beach-golf-resort.html