@media only screen and (min-width:  320px)
	header 
		#logo 
			a 
				top -20px
				width 260px
		.tel 
			font-size 14px
				
				
@media only screen and (min-width:  940px)
	.inner
		width 940px
		padding 0
	.btn-menu
		display none
	
	header
		#menu
			display block !important
			height 35px
			
			ul 
				position relative
				background none
				top 0
				float right
				border none
				li 
					
					display inline-block
					float left
					margin-left 10px
					padding 1px 10px 0 0

					.nav-child
					.sub-menu 
						position absolute
						width 182px
						left -22px
						top 43px
						padding 21px 20px 29px 20px
						border-top 4px solid #f5c34c
						box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
						
						.nav-child
						.sub-menu
							left 165px
							top 0px

						li 
							
							text-align left
							
							&.parent
								.nav-header
									color #4a4a4a
							
				
			
		#logo 
						
			a 	
				left -90px
		.tel 
			padding 0
			float left
		.login, .advisor,
		.icon-redes
			float right
			

	.btn-budget 
		top 15px
		
	.info-main
		padding-bottom 35px
		width 300px
		text-align left
	
		
	.services-box
		.service
			padding-bottom 73px
			
			ul 
				margin-bottom 71px
	.forms-reservations
		width 196px
		left -196px
	.page-tourDetails
		float right
		width 280px
		margin-left 10px
	
	
	.tabs
		top -60px
		ul
			float right
			position absolute
			
			li 
				float left
	
	.rates
	.right-info 
		width 320px
		float right
		margin-left: 1.5em;
		
	.page-about
		.img
			width auto
			height auto
			float right

	.page-aboutDestinations
		width 685px
	
	.tripAdvisor-widget
		float right
		//top -320px
		
		.widSSPnarrow
			width 256px !important 
	
	.page-testimonialsTripAdvisor
		.widSSP
			width 465px !important

	.page-hotels
		.hotel-rate_availability
			display block
			
		.hotel-intro
			width 550px
		.hotel-title
			font-size 1.3em
	footer
		
		text-align center
		
		.copyright
			float left
		.redes
			float right
			
		.phone-numbers
			margin-left: 120px;
			float: left;
			
	
		
//@media only screen and (min-width:  1024px)
	
   

   